
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">KTB</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li> -->
                    <!-- <li><a asp-area="" asp-controller="Home" asp-action="LogPage">Login/Register</a></li> -->
                    <li><a asp-area="" asp-controller="Home" asp-action="LogOut">Log off</a></li>
                </ul>
            </div>
        </div>
    </nav>

<!-- <h3>@ViewData["Message"]</h3> -->
<div class="mainBody">


<div class="leftSide">
    <img src="/images/placeholder-hi.png" alt="Place holder image">

    <h4>Jora</h4>
</div>

    &nbsp; &nbsp;
</div>
   